{% extends 'sta.html' %}
{% block content %}
        <div class = "contact-wrapper">
            <div class = "contact-banner-container">
                <h2 class = "contact-banner-head">
                    <span class = "typewriter-text"></span>
                    <span class = "typewriter-cursor">|</span>
                </h2>
            </div>
            <div class = "contact-form-container">
                <h2 class = "contact-form-head">Contact Us</h2>
                {% for messages in messages %}
                <h3 class = "contact-message-text">{{messages}}</h3>
                {% endfor %}
                <form class = "contact-form" method="post" action="{% url 'contact' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button class = "submit-btn" type="submit">Submit</button>
                </form>
            </div>
        </div>

          <!-- <div class = "input-container">
            <input type = "text" placeholder = "Username" name = "username" class = "input username">
            <input type = "text" placeholder = "Email" name = "email" class = "input email">
            <input type = "password" placeholder = "Password" name = "password" class = "input password">
            <input type = "password" placeholder = "Confirm Pssword" name = "password2" class = "input password">
          </div> -->
        </form>

       {% endblock %}
