{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{% static 'css/style.css'%}">
    <script defer src = "{% static 'js/script.js' %}"></script>
    <title>TIPLOGO</title>
</head>
<body>
    <div class = "overlay"></div>
    <section>
        <header>
            <nav>
                <div class = "container">
                    <!-- <img src = "/static/img/logo2.jpg" class = "logo"/> -->
                    <a href = "/"><span class = "logo">TIPLOGO</span></a>
    
                    
                    <div class = "hamburger">
                        <span></span>
                        <span></span>
                        <span></spagn>
                    </div>
                    
                    
                    <ul class = "nav-links-parent">
                        <li><a href = "#" class = "nav-link">HOME</a></li>
                        <li><a href = "#" class = "nav-link">TIPLOGO CBT CENTER</a></li>
                        <li><a href = "#" class = "nav-link">TIPLOGO LED BULBS</a></li>
                        <li><a href = "#" class = "nav-link">TIPLOGO LOGISTICS</a></li>
                        <li><a href = "#" class = "nav-link">TIPLOGO ICT</a></li>
                        <li><a href = "#" class = "nav-link">TIPLOGO SEA FOODS</a></li>
                    </ul>
                    
                    <a class = "subscribe-btn" href = "#">Subscribe</a>
                    
                </div>
            </nav>
            
            <div class = "mobile-menu">
    
                <div class = "task-bar">
                    <a href = "/"><span class = "logo">TIPLOGO</span></a>
                    <div class = "close-menu">
                        <span></span>
                        <span></span>
                    </div>
                </div>
    
                <div class = "mobile-navigation">
                    <ul class = "mobile-links-parent">
                        <li><a href = "#" class = "nav-link">HOME</a></li>
                        <li><a href = "#" class = "nav-link">TIPLOGO CBT CENTER</a></li>
                        <li><a href = "#" class = "nav-link">TIPLOGO LED BULBS</a></li>
                        <li><a href = "#" class = "nav-link">TIPLOGO LOGISTICS</a></li>
                        <li><a href = "#" class = "nav-link">TIPLOGO ICT</a></li>
                        <li><a href = "#" class = "nav-link">TIPLOGO SEA FOODS</a></li>
                    </ul>
        
                    <a class = "mobile-subscribe-btn" href = "news">Subscribe</a>
                </div>
    
                
            </div>
    
            <div class = 'carousel-wrapper'>
                <div class = 'carousel-container'>
                    <div class = "carousel">
                        <div class = "active carousel-item">
                            <img src = "/static/img/seafood_1.jpg" alt = "carousel-img" />
                            <h4>Our Clients Are Our First Priority</h4>
                            <h2>WELCOME TO TIPLOGO 1</h2>
                            <div class = "underline">
                                <span></span>
                                <span class = 'circle'>
                                    <span></span>
                                </span>
                                <span></span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Delectus quasi dolorem animi, quas consequuntur mollitia 
                                natus aliquid inventore modi ad officia sunt 
                                iusto deserunt ducimus, rem magni autem eligendi blanditiis.
                            </p>
                            <div class = "header-cta-container">
                                <a href = "#" class = "cta-1">GET STARTED NOW</a>
                                <a href = "#" class = "cta-2">Explore</a>
                            </div>
                        </div>
    
                        <div class = "carousel-item">
                            <img src = "/static/img/business_poster.jpg" alt = "carousel-img" />
                            <h4>Our Clients Are Our First Priority</h4>
                            <h2>WELCOME TO TIPLOGO 2</h2>
                            <div class = "underline">
                                <span></span>
                                <span class = 'circle'>
                                    <span></span>
                                </span>
                                <span></span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Delectus quasi dolorem animi, quas consequuntur mollitia 
                                natus aliquid inventore modi ad officia sunt 
                                iusto deserunt ducimus, rem magni autem eligendi blanditiis.
                            </p>
                            <div class = "header-cta-container">
                                <a href = "#" class = "cta-1">GET STARTED NOW</a>
                                <a href = "#" class = "cta-2">EXPLORE</a>
                            </div>
                        </div>
                        <div class = "carousel-item">
                            <img src = "/static/img/led_bulb2.jpg" alt = "carousel-img" />
                            <h4>Our Clients Are Our First Priority</h4>
                            <h2>WELCOME TO TIPLOGO 2</h2>
                            <div class = "underline">
                                <span></span>
                                <span class = 'circle'>
                                    <span></span>
                                </span>
                                <span></span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Delectus quasi dolorem animi, quas consequuntur mollitia 
                                natus aliquid inventore modi ad officia sunt 
                                iusto deserunt ducimus, rem magni autem eligendi blanditiis.
                            </p>
                            <div class = "header-cta-container">
                                <a href = "/mail" class = "cta-1">GET STARTED NOW</a>
                                <a href = "{% url 'mail' %}" class = "cta-2">EXPLORE</a>
                            </div>
                        </div>
    
                        <button id = "prev" class = "prev btn">
                            <img src = "/static/img/arrow.png" alt = "Next carousel button">
                        </button>
                        <button id = "next" class = "next btn">
                            <img src = "/static/img/arrow.png" alt = "Previous carousel button">
                        </button>
                    </div>
                </div>
            </div>
        </header>
    
        <main>
            <section class = "services-section">
                <div class = "head-container">
                    <p class = "subhead"><span>OUR SERVICES</span></p>
                    <h3 class = "head">What Solutions We Provide</h3>
                </div>
                    
                <div class = "service-boxes-container">
                    <div class = "service-box">
                        <div class = "service-logo">
                            <span></span>
                            <img src = "/static/img/cbt.svg" alt = ""/>
                        </div>

                        <p class = "service-name">Jamb Services</p>

                        <p class = "sub-content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Officiis obcaecati consectetur nesciunt quo ex? 
                        </p>
                    </div>

                    <div class = "service-box">
                        <div class = "service-logo">
                            <span></span>
                            <img src = "/static/img/bulb.svg" alt = ""/>
                        </div>

                        <p class = "service-name">Led Bulb Sales</p>

                        <p class = "sub-content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Officiis obcaecati consectetur nesciunt quo ex?  
                        </p>
                    </div>

                    <div class = "service-box">
                        <div class = "service-logo">
                            <span></span>
                            <img src = "/static/img/logistics.svg" alt = ""/>
                        </div>

                        <p class = "service-name">Logistics Services</p>

                        <p class = "sub-content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Officiis obcaecati consectetur nesciunt quo ex?  
                        </p>
                    </div>

                    <div class = "service-box">
                        <div class = "service-logo">
                            <span></span>
                            <img src = "/static/img/tools.svg" alt = ""/>
                        </div>

                        <p class = "service-name">ICT Equipment Sales & Services</p>

                        <p class = "sub-content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Officiis obcaecati consectetur nesciunt quo ex? 
      
                        </p>
                    </div>

                    <div class = "service-box">
                        <div class = "service-logo">
                            <span></span>
                            <img src = "/static/img/fish.svg" alt = ""/>
                        </div>

                        <p class = "service-name">Sea Food Sales</p>

                        <p class = "sub-content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Officiis obcaecati consectetur nesciunt quo ex? 
   
                        </p>
                    </div>
                    
                    <div class = "service-box">
                        <div class = "service-logo">
                            <span></span>
                            <img src = "/static/img/cbt.svg" alt = ""/>
                        </div>

                        <p class = "service-name">Educational Services</p>

                        <p class = "sub-content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Officiis obcaecati consectetur nesciunt quo ex? 
   
                        </p>
                    </div>
                </div>
            </section>

            <section class = "product-section">
                <div class = "head-container">
                    <p class = "subhead"><span>OUR PROJECTS</span></p>
                    <h3 class = "head">Products We Offer</h3>
                </div>

                <div class = "products-content-container">
                    <div class = "products-tab-container">
                        <div class = "products-tab">
                            <a href = "#" data-category="all" class = "tab-links">All</a>
                            <a href = "#" data-category="bulb" class = "tab-links">Bulb</a>
                            <a href = "#" data-category="seafood" class = "tab-links">SeaFood</a>
                            <a href = "#" data-category="Ict" class = "tab-links">ICT Equipment</a>
                            <div class = "tab-line"></div>
                        </div>
                    </div>

                    <div class = "products-boxes-container">
                        <div id = "bulb" class = "product-box">
                            <img src = "/static/img/led_bulb1.jpg" alt = "Led bulb product image">
                            <div class = "product-text-content">
                                <p class = "product-name">Led Bulbs</p>
                                <p class = "product-details">Tiplogo Led bulbs Sales.</p>
                            </div>
                        </div>

                        <div id = "bulb" class = "product-box">
                            <img src = "/static/img/led_bulb2.jpg" alt = "Led bulb product image">
                            <div class = "product-text-content">
                                <p class = "product-name">Led Bulbs</p>
                                <p class = "product-details">Tiplogo Led bulbs Sales.</p>
                            </div>
                        </div>
                        
                        <div id = "seafood" class = "product-box">
                            <img src = "/static/img/seafood_1.jpg" alt = "Led bulb product image">
                            <div class = "product-text-content">
                                <p class = "product-name">Sea Food(crayfish and dryfish)</p>
                                <p class = "product-details">Sea Food Sales And Delivery</p>
                            </div>
                        </div>

                        <div id = "bulb" class = "product-box">
                            <img src = "/static/img/led_bulb3.jpg" alt = "Led bulb product image">
                            <div class = "product-text-content">
                                <p class = "product-name">Led Bulbs</p>
                                <p class = "product-details">Tiplogo Led bulbs Sales.</p>
                            </div>
                        </div>

                        <div id = "seafood" class = "product-box">
                            <img src = "/static/img/seafood_3.jpg" alt = "Led bulb product image">
                            <div class = "product-text-content">
                                <p class = "product-name">Sea Food(crayfish and dryfish)</p>
                                <p class = "product-details">Sea Food Sales And Delivery</p>
                            </div>
                        </div>

                        <div id = "seafood" class = "product-box">
                            <img src = "/static/img/led_bulb_bulk.jpg" alt = "Sea Food product image">
                            <div class = "product-text-content">
                                <p class = "product-name">Sea Food(crayfish and dryfish)</p>
                                <p class = "product-details">Sea Food Sales And Delivery</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class = "newsletter-section">
                <div class = "head-container">
                    <p class = "subhead"><span>NEWSLETTER</span></p>
                    <h3 class = "head">Stay Always In Touch</h3>
                </div>

                <p class = "newsletter-section-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Iure doloribus earum ipsum velit amet sequi delectus, 
                    similique nobis 
                </p>

                <form  class = "newsletter-input-container">
                    
                    <input type = "text" placeholder="Enter Your Email" required name = "email"/>
                    <button type = "submit"><img alt = "send message icon" src = "/static/img/message.svg"></button>
                </form>
            </section>

            <section class = "testimonial-section">
                <div class = "head-container">
                    <p class = "subhead"><span>Testimonial</span></p>
                    <h3 class = "head">What Our Clients Say </h3>
                </div>
                <div class = "testimonial-wrapper">
                    <div class = "testimonial-scroll-section">
                        <div class = "testimonial">
                            <p class = "testimonial-words">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Cumque tempore numquam rerum provident similique quidem at.
                            </p>
                            <div class = "client-info">
                                <img src = "" alt = ""/>
                                <div class = "info-text">
                                    <p class = "client-name">Client Name</p>
                                    <p class = "client-profession">Profession</p>
                                </div>
                            </div>
                        </div>
    
                        <div class = "testimonial">
                            <p class = "testimonial-words">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Cumque tempore numquam rerum provident similique quidem at.
                            </p>
                            <div class = "client-info">
                                <img src = "" alt = ""/>
                                <div class = "info-text">
                                    <p class = "client-name">Client Name</p>
                                    <p class = "client-profession">Profession</p>
                                </div>
                            </div>
                        </div>
    
                        <div class = "testimonial">
                            <p class = "testimonial-words">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Cumque tempore numquam rerum provident similique quidem at.
                            </p>
                            <div class = "client-info">
                                <img src = "" alt = ""/>
                                <div class = "info-text">
                                    <p class = "client-name">Client Name</p>
                                    <p class = "client-profession">Profession</p>
                                </div>
                            </div>
                        </div>
    
                        <div class = "testimonial">
                            <p class = "testimonial-words">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Cumque tempore numquam rerum provident similique quidem at.
                            </p>
                            <div class = "client-info">
                                <img src = "" alt = ""/>
                                <div class = "info-text">
                                    <p class = "client-name">Client Name</p>
                                    <p class = "client-profession">Profession</p>
                                </div>
                            </div>
                        </div>
    
                        <div class = "testimonial">
                            <p class = "testimonial-words">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Cumque tempore numquam rerum provident similique quidem at.
                            </p>
                            <div class = "client-info">
                                <img src = "" alt = ""/>
                                <div class = "info-text">
                                    <p class = "client-name">Client Name</p>
                                    <p class = "client-profession">Profession</p>
                                </div>
                            </div>
                        </div>
    
                        <div class = "testimonial">
                            <p class = "testimonial-words">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Cumque tempore numquam rerum provident similique quidem at.
                            </p>
                            <div class = "client-info">
                                <img src = "" alt = ""/>
                                <div class = "info-text">
                                    <p class = "client-name">Client Name</p>
                                    <p class = "client-profession">Profession</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class = "btn-container">
                        <button></button>
                        <button></button>
                    </div>
                </div>
            </section>
        </main>
    </section>
</body>
</html>