{% extends 'base.html' %}
{% block content %}
        
                <div class = 'carousel-wrapper'> 
                    <div class = 'carousel-container'>
                        <div class = "carousel">
                            <div class = "active carousel-item">
                                <div class = "content">
                                    <img class = "move" src = "/static/img/business_poster_2.jpg" alt = "carousel-img" />
                                    <h4>Our Clients Are Our  Priority</h4>
                                    <h2>TIPLOGO CBT SERVICES</h2>
                                    <div class = "underline">
                                        <span></span>
                                        <span class = 'circle'>
                                            <span></span>
                                        </span>
                                        <span></span>
                                    </div>
                                    <p>
                                        Print your admission letter, perform change of institution
                                        and many other services at TIPLOGO Business Office.
                                    </p>
                                    <div class = "header-cta-container">
                                        <a href = "tiplogo-cbt" class = "cta-1">GET STARTED NOW</a>
                                        <a href = "#services-section" class = "cta-2">EXPLORE</a>
                                    </div>
                                </div>
                            </div>

                            <div class = "carousel-item">
                                <div class = "content">

                                    <img src = "/static/img/seafood_1.jpg" alt = "carousel-img" />
                                    <h4>Our Clients Are Our  Priority</h4>
                                    <h2>TIPLOGO SEA FOOD DELIVERY</h2>
                                    <div class = "underline">
                                        <span></span>
                                        <span class = 'circle'>
                                            <span></span>
                                        </span>
                                        <span></span>
                                    </div>
                                    <p>
                                        Our enterprise specializes in sourcing the freshest crayfish 
                                        Join us on a culinary journey and experience the difference that fresh, 
                                        responsibly sourced seafood can make in your dishes.
                                        
                                    </p>
                                    <div class = "header-cta-container">
                                        <a href = "tiplogo-fish" class = "cta-1">GET STARTED NOW</a>
                                        <a href = "#services-section" class = "cta-2">Explore</a>
                                    </div>
                                </div>
                            </div>

                            <div class = "carousel-item">
                                <div class = "content">

                                    <img src = "/static/img/led_bulb2.jpg" alt = "carousel-img" />
                                    <h4>Our Clients Are Our  Priority</h4>
                                    <h2>TIPLOGO LED BULB SALES</h2>
                                    <div class = "underline">
                                        <span></span>
                                        <span class = 'circle'>
                                            <span></span>
                                        </span>
                                        <span></span>
                                    </div>
                                    <p>
                                        We offer a wide range of LED bulbs to brighten up your home or office 
                                        with energy-efficient lighting solutions.
                                        Trust in the quality and reliability of our LED bulbs to provide sufficient lighting for home.
                                   
                                    </p>
                                    <div class = "header-cta-container">
                                        <a href = "tiplogo-led" class = "cta-1">GET STARTED NOW</a>
                                        <a href = "#services-section" class = "cta-2">EXPLORE</a>
                                    </div>
                                </div>
                            </div>

                            <div class = "carousel-item">
                                <div class = "content">

                                    <img src = "/static/img/truck1.jpg" alt = "carousel-img" />
                                    <h4>Our Clients Are Our Priority</h4>
                                    <h2>TIPLOGO LOGISTICS</h2>
                                    <div class = "underline">
                                        <span></span>
                                        <span class = 'circle'>
                                            <span></span>
                                        </span>
                                        <span></span>
                                    </div>
                                    <p>TIPLOGO LOGISTICS offers a wide range of logistics services tailored 
                                        to meet your business needs, ensuring seamless transportation and delivery of 
                                        goods.
                                    </p>
                                    <div class = "header-cta-container">
                                        <a href = "tiplogo-logistics" class = "cta-1">GET STARTED NOW</a>
                                        <a href = "#services-section" class = "cta-2">EXPLORE</a>
                                    </div>
                                </div>
                            </div>

                            
                            <div class = "carousel-item">
                                <div class = "content">

                                    <img src = "/static/img/cctv_camera_4.png" alt = "carousel-img" />
                                    <h4>Our Clients Are Our Priority</h4>
                                    <h2>TIPLOGO ICT SALES & SERVICES</h2>
                                    <div class = "underline">
                                        <span></span>
                                        <span class = 'circle'>
                                            <span></span>
                                        </span>
                                        <span></span>
                                    </div>
                                    <p>
                                        Explore our range of cutting-edge CCTV cameras, designed to keep your home or business safe and secure.
                                        We offer a variety of CCTV camera systems to fit your specific needs, 
                                        whether it's for indoor monitoring or outdoor surveillance.
                                    </p>
                                    <div class = "header-cta-container">
                                        <a href = "tiplogo-ict" class = "cta-1">GET STARTED NOW</a>
                                        <a href = "#services-section" class = "cta-2">EXPLORE</a>
                                    </div>
                                </div>
                            </div>
        
                            <button id = "prev" class = "prev btn">
                                <img src = "/static/img/arrow.png" alt = "Next carousel button">
                            </button>
                            <button id = "next" class = "next btn">
                                <img src = "/static/img/arrow.png" alt = "Previous carousel button">
                            </button>
                        </div>
                    </div>
                </div>
            </header>
        
            <main>
                <section id = "services-section" class = "services-section">
                    <div class = "head-container">
                        <p class = "subhead"><span>OUR SERVICES</span></p>
                        <h3 class = "head">What Solutions We Provide</h3>
                    </div>
                        
                    <div class = "service-boxes-container">
                        <div style = "--i : .5s" class = "service-box">
                            <div class = "service-logo">
                                <span></span>
                                <img src = "/static/img/cbt.svg" alt = ""/>
                            </div>

                            <p class = "service-name">Jamb Services</p>

                            <p class = "sub-content">
                                Looking to print your jamb forms or documents, these services 
                                are offered at TIPLOGO Business Office
                            </p>
                        </div>

                        <div style = "--i : .7s" class = "service-box">
                            <div class = "service-logo">
                                <span></span>
                                <img src = "/static/img/bulb.svg" alt = ""/>
                            </div>

                            <p class = "service-name">Led Bulb Sales</p>

                            <p class = "sub-content">
                                whether you need bulbs for your home, office, or outdoor area, 
                                we have the perfect LED lighting solution for you.
                            </p>
                        </div>

                        <div style = "--i : 1s" class = "service-box">
                            <div class = "service-logo">
                                <span></span>
                                <img src = "/static/img/logistics.svg" alt = ""/>
                            </div>

                            <p class = "service-name">Logistics Services</p>

                            <p class = "sub-content">
                                Our logistics services will help to optimize your supply chain, reduce costs
                                and improve your at every step. 
                            </p>
                        </div>

                        <div style = "--i : .5s" class = "service-box">
                            <div class = "service-logo">
                                <span></span>
                                <img src = "/static/img/tools.svg" alt = ""/>
                            </div>

                            <p class = "service-name">ICT Equipment Sales & Services</p>

                            <p class = "sub-content">
                                We offer a range of cctv cameras systems to fit your specific needs.
        
                            </p>
                        </div>

                        <div style = "--i : .7s" class = "service-box">
                            <div class = "service-logo">
                                <span></span>
                                <img src = "/static/img/fish.svg" alt = ""/>
                            </div>

                            <p class = "service-name">Sea Food Sales</p>

                            <p class = "sub-content">
                               With a robust distribution network, we deliver our seafood products to customers
                               in different places. 
    
                            </p>
                        </div>
                        
                        <div style = "--i : 1s" class = "service-box">
                            <div class = "service-logo">
                                <span></span>
                                <img src = "/static/img/cbt.svg" alt = ""/>
                            </div>

                            <p class = "service-name">Educational Services</p>

                            <p class = "sub-content">
                                TIPLOGO Business Office provides various educational and trainingf services
    
                            </p>
                        </div>
                    </div>
                </section>

                <section class = "product-section">
                    <div class = "head-container">
                        <p class = "subhead"><span>OUR PROJECTS</span></p>
                        <h3 class = "head">Products We Offer</h3>
                    </div>

                    <div class = "products-content-container">
                        <div class = "products-tab-container">
                            <div class = "products-tab">
                                <a href = "#" data-category="all" class = "tab-links">All</a>
                                <a href = "#" data-category="bulb" class = "tab-links">Bulb</a>
                                <a href = "#" data-category="seafood" class = "tab-links">SeaFood</a>
                                <a href = "#" data-category="Equipment" class = "tab-links">ICT Equipment</a>
                                <div class = "tab-line"></div>
                            </div>
                        </div>

                        <div class = "products-boxes-container">
                            <div style = "--i : .2s" id = "bulb" class = "product-box">
                                <div class = "product-img-container">
                                    <img src = "/static/img/led_bulb1.jpg" alt = "Led bulb product image">
                                </div>
                                <div class = "product-text-content">
                                    <p class = "product-name">Led Bulbs</p>
                                    <p class = "product-details">Tiplogo Led bulbs Sales.</p>
                                </div>
                            </div>

                            <div style = "--i : .4s" id = "bulb" class = "product-box">
                                <div class = "product-img-container">
                                    <img src = "/static/img/led_bulb2.jpg" alt = "Led bulb product image">
                                </div>
                                <div class = "product-text-content">
                                    <p class = "product-name">Led Bulbs</p>
                                    <p class = "product-details">Tiplogo Led bulbs Sales.</p>
                                </div>
                            </div>
                            
                            <div style = "--i : .6s" id = "seafood" class = "product-box">
                                <div class = "product-img-container">
                                    <img src = "/static/img/seafood_1.jpg" alt = "Led bulb product image">
                                </div>
                                <div class = "product-text-content">
                                    <p class = "product-name">Sea Food(crayfish and dryfish)</p>
                                    <p class = "product-details">Sea Food Sales And Delivery</p>
                                </div>
                            </div>

                            <div style = "--i : .2s" id = "Equipment" class = "ict product-box">
                                <div class = "product-img-container">
                                    <img  src = "/static/img/cctv_camera_4.png" alt = "Led bulb product image">
                                </div>
                                <div class = "ict product-text-content">
                                    <p class = "ict product-name">cctv camera</p>
                                    <p class = "ict product-details">Ict Equipment Sales And Delivery</p>
                                </div>
                            </div>

                            <div style = "--i : .4s" id = "seafood" class = "product-box">
                                <div class = "product-img-container">
                                    <img src = "/static/img/seafood_3.jpg" alt = "Led bulb product image">
                                </div>
                                <div class = "product-text-content">
                                    <p class = "product-name">Sea Food(crayfish and dryfish)</p>
                                    <p class = "product-details">Sea Food Sales And Delivery</p>
                                </div>
                            </div>

                            <div style = "--i : .6s" id = "Equipment" class = "ict product-box">
                                <div class = "product-img-container">
                                    <img src = "/static/img/cctv_camera_2.png" alt = "Led bulb product image">
                                </div>
                                <div class = "ict product-text-content">
                                    <p class = "ict product-name">cctv camera</p>
                                    <p class = "ict product-details">Ict Equipment Sales And Delivery</p>
                                </div>
                            </div>

                            <div style = "--i : .2s" id = "seafood" class = "remove_mis sea product-box">
                                <div class = "product-img-container"> 
                                    <img src = "/static/img/seafood_5.jpg" alt = "Led bulb product image">
                                </div>
                                <div class = "sea product-text-content">
                                    <p class = "sea product-name">Crayfish</p>
                                    <p class = "sea product-details">Sea Food Sales And Delivery</p>
                                </div>
                            </div>
                                
                            <div style = "--i : .4s" id = "bulb" class = "remove_mis bulb product-box">
                                <div class = "product-img-container">
                                    <img src = "/static/img/led_bulb5.jpg" alt = "Led bulb product image">
                                </div>
                                <div class = "bulb product-text-content">
                                    <p class = "bulb product-name">Led Bulb</p>
                                    <p class = "bulb product-details">Led Bulb Sales And Delivery</p>
                                </div>
                            </div>

                            
                            <div id = "Equipment" class = "remove_mis ict product-box">
                                <div class = "product-img-container">
                                <img class = "reduce_img_1" src = "/static/img/cctv_camera_5.png" alt = "Led bulb product image">
                                </div>
                                <div class = "ict product-text-content">
                                    <p class = "ict product-name">cctv camera</p>
                                    <p class = "ict product-details">Ict Equipment Sales And Delivery</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id = "newsletter" class = "newsletter-section">
                    <div class = "head-container">
                        <p class = "subhead"><span>NEWSLETTER</span></p>
                        <h3 class = "head">Stay Always In Touch</h3>
                    </div>

                    <p class = "newsletter-section-details">
                        Subscribe to our newsletter to get the latest update about
                        our products.
                    </p>

                
                    {% for messages in messages %}
                        <p class = "newsletter-message">{{messages}}</p>
                    {% endfor %}

                    <form  method ='post' class = "newsletter-input-container">
                        {% csrf_token %}
                        <input type = "text" placeholder="Enter Your Email" required name = "email"/>
                        <button type = "submit"><img alt = "send message icon" src = "/static/img/message.svg"></button>
                    </form>
                </section>           

                <section class = "testimonial-section">
                    <div class = "head-container">
                        <p class = "subhead"><span>Testimonial</span></p>
                        <h3 class = "head">What Our Clients Say </h3>
                    </div>

                    <div class = "testimonial-scroll-section">
                        <div style = "--i : 0s" class = "testimonial">
                            <p class = "testimonial-words">
                                <img class = "quote-icon" src = "/static/img/quote.svg" alt = " icon for quote on the testimonial words">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Cumque tempore numquam rerum provident similique quidem at.
                            </p>
                            
                            <div class = "client-info">
                                <img class = "client-img" src = "/static/img/pic-2.jpg" alt = "Client picture"/>
                                <div class = "info-text">
                                    <p class = "client-name">Client Name</p>
                                    <p class = "client-profession">Profession</p>
                                </div>
                            </div>

                            <span class = "tes-bg"></span>
                        </div>
        
                        <div style = "--i : 0.5s" class = "testimonial">
                            <p class = "testimonial-words">
                                <img class = "quote-icon" src = "/static/img/quote.svg" alt = " icon for quote on the testimonial words">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Cumque tempore numquam rerum provident similique quidem at.
                            </p>
                            
                            <div class = "client-info">
                                <img class = "client-img" src = "/static/img/pic-2.jpg" alt = "Client picture"/>
                                <div class = "info-text">
                                    <p class = "client-name">Client Name</p>
                                    <p class = "client-profession">Profession</p>
                                </div>
                            </div>

                            <span class = "tes-bg"></span>
                        </div>
    
                        <div style = "--i : 1s" class = "testimonial">
                            <p class = "testimonial-words">
                                <img class = "quote-icon" src = "/static/img/quote.svg" alt = " icon for quote on the testimonial words">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Cumque tempore numquam rerum provident similique quidem at.
                            </p>
                            
                            <div class = "client-info">
                                <img class = "client-img" src = "/static/img/pic-2.jpg" alt = "Client picture"/>
                                <div class = "info-text">
                                    <p class = "client-name">Client Name</p>
                                    <p class = "client-profession">Profession</p>
                                </div>
                            </div>

                            <span class = "tes-bg"></span>
                        </div>

                        <div style = "--i : 0s" class = "testimonial">
                            <p class = "testimonial-words">
                                <img class = "quote-icon" src = "/static/img/quote.svg" alt = " icon for quote on the testimonial words">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Cumque tempore numquam rerum provident similique quidem at.
                            </p>
                            
                            <div class = "client-info">
                                <img class = "client-img" src = "/static/img/pic-2.jpg" alt = "Client picture"/>
                                <div class = "info-text">
                                    <p class = "client-name">Client Name</p>
                                    <p class = "client-profession">Profession</p>
                                </div>
                            </div>

                            <span class = "tes-bg"></span>
                        </div>

                        <div style = "--i : 0.5s" class = "testimonial">
                            <p class = "testimonial-words">
                                <img class = "quote-icon" src = "/static/img/quote.svg" alt = " icon for quote on the testimonial words">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Cumque tempore numquam rerum provident similique quidem at.
                            </p>
                            
                            <div class = "client-info">
                                <img class = "client-img" src = "/static/img/pic-2.jpg" alt = "Client picture"/>
                                <div class = "info-text">
                                    <p class = "client-name">Client Name</p>
                                    <p class = "client-profession">Profession</p>
                                </div>
                            </div>

                            <span class = "tes-bg"></span>
                        </div>

                        <div style = "--i : 1s" class = "testimonial">
                            <p class = "testimonial-words">
                                <img class = "quote-icon" src = "/static/img/quote.svg" alt = " icon for quote on the testimonial words">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Cumque tempore numquam rerum provident similique quidem at.
                            </p>
                            
                            <div class = "client-info">
                                <img class = "client-img" src = "/static/img/pic-2.jpg" alt = "Client picture"/>
                                <div class = "info-text">
                                    <p class = "client-name">Client Name</p>
                                    <p class = "client-profession">Profession</p>
                                </div>
                            </div>

                            <span class = "tes-bg"></span>
                        </div>
                        
                    </div>

                    <div class = "testimonial-btn-container">
                        <button class = "prev-btn">&larr;</button>
                        <button class = "next-btn">&rarr;</button>
                    </div>
                </section>
            </main>

{% endblock %}