{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{% static 'css/style.css'%}">
    <script defer src = "{% static 'js/script.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <div class = "overlay"></div>
    <header>
        <nav>
            <div class = "container">
                <!-- <img src = "/static/img/logo2.jpg" class = "logo"/> -->
                <a href = "/"><span class = "logo">TIPLOGO</span></a>

                
                <div class = "hamburger">
                    <span></span>
                    <span></span>
                    <span></spagn>
                </div>
                
                
                <ul class = "nav-links-parent">
                    <li><a href = "#" class = "nav-link">HOME</a></li>
                    <li><a href = "#" class = "nav-link">TIPLOGO CBT CENTER</a></li>
                    <li><a href = "#" class = "nav-link">TIPLOGO LED BULBS</a></li>
                    <li><a href = "#" class = "nav-link">TIPLOGO LOGISTICS</a></li>
                    <li><a href = "#" class = "nav-link">TIPLOGO ICT</a></li>
                    <li><a href = "#" class = "nav-link">TIPLOGO SEA FOODS</a></li>
                </ul>
                
                <a class = "subscribe-btn" href = "#">Subscribe</a>
                
            </div>
        </nav>
        
        <div class = "mobile-menu">

            <div class = "task-bar">
                <a href = "/"><span class = "logo">TIPLOGO</span></a>
                <div class = "close-menu">
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div class = "mobile-navigation">
                <ul class = "mobile-links-parent">
                    <li><a href = "#" class = "nav-link">HOME</a></li>
                    <li><a href = "#" class = "nav-link">TIPLOGO CBT CENTER</a></li>
                    <li><a href = "#" class = "nav-link">TIPLOGO LED BULBS</a></li>
                    <li><a href = "#" class = "nav-link">TIPLOGO LOGISTICS</a></li>
                    <li><a href = "#" class = "nav-link">TIPLOGO ICT</a></li>
                    <li><a href = "#" class = "nav-link">TIPLOGO SEA FOODS</a></li>
                </ul>
    
                <a class = "mobile-subscribe-btn" href = "news">Subscribe</a>
            </div>

            
        </div>

        <div class = 'carousel-wrapper'>
            <div class = 'carousel-container'>
                <div class = "carousel">
                    <div class = "active carousel-item">
                        <img src = "/static/img/seafood_1.jpg" alt = "carousel-img" />
                        <h4>Our Clients Are Our First Priority</h4>
                        <h2>WELCOME TO TIPLOGO 1</h2>
                        <div class = "underline">
                            <span></span>
                            <span class = 'circle'>
                                <span></span>
                            </span>
                            <span></span>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Delectus quasi dolorem animi, quas consequuntur mollitia 
                            natus aliquid inventore modi ad officia sunt 
                            iusto deserunt ducimus, rem magni autem eligendi blanditiis.
                        </p>
                        <div class = "header-cta-container">
                            <a href = "#" class = "cta-1">GET STARTED NOW</a>
                            <a href = "#" class = "cta-2">Explore</a>
                        </div>
                    </div>

                    <div class = "carousel-item">
                        <img src = "/static/img/business_poster.jpg" alt = "carousel-img" />
                        <h4>Our Clients Are Our First Priority</h4>
                        <h2>WELCOME TO TIPLOGO 2</h2>
                        <div class = "underline">
                            <span></span>
                            <span class = 'circle'>
                                <span></span>
                            </span>
                            <span></span>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Delectus quasi dolorem animi, quas consequuntur mollitia 
                            natus aliquid inventore modi ad officia sunt 
                            iusto deserunt ducimus, rem magni autem eligendi blanditiis.
                        </p>
                        <div class = "header-cta-container">
                            <a href = "#" class = "cta-1">GET STARTED NOW</a>
                            <a href = "#" class = "cta-2">EXPLORE</a>
                        </div>
                    </div>
                    <div class = "carousel-item">
                        <img src = "/static/img/led_bulb2.jpg" alt = "carousel-img" />
                        <h4>Our Clients Are Our First Priority</h4>
                        <h2>WELCOME TO TIPLOGO 2</h2>
                        <div class = "underline">
                            <span></span>
                            <span class = 'circle'>
                                <span></span>
                            </span>
                            <span></span>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Delectus quasi dolorem animi, quas consequuntur mollitia 
                            natus aliquid inventore modi ad officia sunt 
                            iusto deserunt ducimus, rem magni autem eligendi blanditiis.
                        </p>
                        <div class = "header-cta-container">
                            <a href = "/mail" class = "cta-1">GET STARTED NOW</a>
                            <a href = "{% url 'mail' %}" class = "cta-2">EXPLORE</a>
                        </div>
                    </div>

                    <button id = "prev" class = "prev btn">
                        <img src = "/static/img/arrow.png" alt = "Next carousel button">
                    </button>
                    <button id = "next" class = "next btn">
                        <img src = "/static/img/arrow.png" alt = "Previous carousel button">
                    </button>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section></section>
    </main>
</body>
</html>