{% extends 'sta.html' %}
{% block content %}

    <section class = "extend-mis page">
      
        <section class = "about extend-banner-section">
            <h2>Terms And Condition</h2>
        </section>

        <section class = "about extend-text-section">
            <h3 class="head-text">Terms And Conditions</h3>
            <p>
                These Terms and Conditions ("Terms") govern your use of our multi-enterprise platform 
                and the services provided therein. By accessing or using our platform, 
                you agree to be bound by these Terms. If you do not agree to these Terms, please do not use our platform.
            </p>

            <h4 class="sub-text">Intellectual Property</h4>
            <p>
                Our platform and its original content, features, 
                and functionality are owned by us and are protected by international copyright, 
                trademark, patent, trade secret, and other intellectual property or proprietary rights laws.
            </p>

     
            <h4 class="sub-text">Links to Other Websites</h4>
            <p>
                Our platform may contain links to third-party websites or
                 services that are not owned or controlled by us. 
                 We have no control over and assume no responsibility for the content,  
                privacy policies, or practices of any third-party websites or services.
            </p>

  
            <h4 class="sub-text">Limitation of Liability</h4>
            <p>
                To the fullest extent permitted by applicable law, we shall not be liable for any indirect, 
                incidental, special, consequential, or punitive damages, or any loss of profits or revenues, 
                whether incurred directly or indirectly, or any loss of data, use, goodwill, or other intangible losses, 
                resulting from (a) your use or inability to use our platform; 
                (b) any unauthorized access to or use of our servers and/or any personal information stored therein;
                 (c) any interruption or cessation of transmission to or from our platform; (d) any bugs, viruses, trojan horses, 
                 or the like that may be transmitted to or through our platform by any third party; or (e) any errors or omissions
                  in any content or for any loss or damage incurred as a 
                result of the use of any content posted, emailed, transmitted, or otherwise made available via our platform.
            </p>

            <h4 class="sub-text">Changes to These Terms</h4>
            <p>
                We reserve the right, at our sole discretion, to modify or replace these Terms at any time. 
                If a revision is material, we will try to provide at least 30 days' notice prior to
                 any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
            </p>

            <h4 class = "sub-text">Contact Us</h4>
            <p>
                If you have any questions about these Terms, please contact us.
            </p>
        </section>
    </section>

{% endblock %}
    
