{% extends 'base.html' %}
{% block content %}
    
  
                <div class = 'banner-container'>
                    <div class = "banner">
                        <div class = "banner-content">
                            <img src = "/static/img/business_poster.jpg" alt = "carousel-img" />
                            <h4>Our Clients Are Our Priority</h4>
                            <h2>TIPLOGO CBT SERVICES</h2>
                            <div class = "underline">
                                <span></span>
                                <span class = 'circle'>
                                    <span></span>
                                </span>
                                <span></span>
                            </div>
                            <p>                                      
                                Print your admission letter, perform change of institution
                                and many other services at TIPLOGO Business Office.
                            </p>
                            <!-- <div class = "header-cta-container">
                                <a href = "#" class = "cta-1">GET STARTED NOW</a>
                                <a href = "#" class = "cta-2">EXPLORE</a>
                            </div> -->
                        </div>
                    </div>
                </div>

        </header>

        <main>
            <section class = "cbt-banner-section section-template">
                
                <div class = "cbt-text-section section-text-template">
                    <h3>TIPLOGO CBT</h3>

                    <p>
                        
                        Welcome to TIPLOGO CBT, here we ensure the smooth running of the jamb examination
                        conducted in our center, we help student to do the printing of their forms and also provide
                        other cybercafe services. Through our various facilities, we ensure that the exams written in
                        our centers occur in a smooth, well composed and efficiently managed environment to allow for concentration
                        and prevent worries of system failures during exams. 
                    </p>
                    
                    <div class = "cta-link-container cbt">
                        <a class = "contact-link" href = "contact">Contact Us</a>
                    </div>
                </div>

                <div class = "cbt-banner-section-img-container section-img-container">    
                    <img src = "/static/img/black-people_1.jpg" alt = "Pictures of some young people seating together">
                </div>

            </section>

            <section id = "services-section" class = "cbt-services-section">
                <h3 class = 'cbt-service-head'>
                    <span>CBT Services</span>
                </h3>
                <div class = "cbt-service-block-wrapper">
                    <div class = "cbt-service-box">
                        <img src = "/static/img/jamb-logo.png" alt = "image for jamb services by https://www.freepnglogos.com/images/logo-internet-ie-26086.html">
                        <h3>Jamb Services</h3>
                        <p>Looking to print your jamb forms or documents, these services 
                            are offered at TIPLOGO Business Office
                        </p>
                    </div> 

                    <div class = "cbt-service-box">
                     <img src = "/static/img/edu_img_2.png" alt = "An image for the educational service box">
                        <h3>Educational Service</h3>
                        <p>Prepare for Success with our comprehensive test preparation services, which will help 
                            you prepare for your exam.
                        </p>
                    </div>

                    <div class = "cbt-service-box">
                        <img src = "/static/img/training-logo.png" alt = "image for jamb services by https://www.freepnglogos.com/images/">

                        <h3>Training Services</h3>
                        <p>
                            Our enterprise provides high-quality educational and training Services
                            that empower individual to ace their jamb exams and acquire new skills
                            from the training
                        </p>
                    </div>

                    <div class = "cbt-service-box">
                        <img src = "/static/img/Internet-logo.png" alt = "image for training services by https://www.freepnglogos.com">

                        <h3>Internet Services</h3>
                        <p>
                            Check your jamb caps, do change of institutions, register for jamb and post utme
                            for the institutions of your choice and many other internet related services at TIPLOGO
                            Business Office
                        </p>
                    </div>

                    <div class = "cbt-service-box">
                        <img src = "/static/img/typing-icon.png" alt = "image for jamb services by https://www.freepnglogos.com/images/">

                        <h3>General Merchant</h3>
                        <p>
                            At TIPLOGO Business Office we provide services such as: 
                            Typing, Photostat, Laminating, Binding, Scanning, etc.
                        </p>
                    </div>
                </div>
            </section>

            <section class = "cbt-advantages-section section-template">
                <div class = "cbt-advantages-section-img-container section-img-container">    
                    <img src = "/static/img/cbt-2.jpg" alt = "Pictures of some young people seating together">
                </div>
                <div class = "cbt-text-section section-text-template">
                    <span>Our Clients Are Our Priority</span>
                    <h3>TIPLOGO Business Office</h3>
                    <p>Whether you are looking to do a quick printing, or 
                        laminate your document, or even check your admission status,
                        Tiplogo Business Office provides these services and even more.
                        You might also be looking to type a document that you need for your
                        business or to write an application for a job, head over to 
                        Tiplogo Business Office and your needs will be attended to with a 
                        nice customer service. 
                    </p>
                </div>
            </section>

            <section id = "newsletter" class = "cbt newsletter-section">
                <div class = "head-container">
                    <p class = "subhead"><span>NEWSLETTER</span></p>
                    <h3 class = "head">Stay Always In Touch</h3>
                </div>

                <p class = "newsletter-section-details">           
                    Subscribe to our newsletter to get the latest update about
                    our products.
                </p>

            
                {% for messages in messages %}
                    <p class = "newsletter-message">{{messages}}</p>
                {% endfor %}

                <form  method ='post' class = "newsletter-input-container">
                    {% csrf_token %}
                    <input type = "text" placeholder="Enter Your Email" required name = "email"/>
                    <button type = "submit"><img alt = "send message icon" src = "/static/img/message.svg"></button>
                </form>
            </section>

            <section></section>
        </main>
  {% endblock %}