{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{% static 'css/pages.css'%}">
    <title>TIPLOGO ICT</title>
    <script defer src = "{% static 'js/pages.js'%}"></script>

</head>
<body>
    <div class = "overlay"></div>
    <section class = "page">
        <header>
            <nav>
                <div class = "container">
                    <!-- <img src = "/static/img/logo2.jpg" class = "logo"/> -->
                    <a href = "/"><span class = "logo">TIPLOGO</span></a>
    
                    
                    <div class = "hamburger">
                        <span></span>
                        <span></span>
                        <span></spagn>
                    </div>
                    
                             
                    <ul class = "nav-links-parent">
                        <li><a href = "/" class = "nav-link">HOME</a></li>
                        <li><a href = "tiplogo-cbt" class = "nav-link">TIPLOGO CBT CENTER</a></li>
                        <li><a href = "tiplogo-led" class = "nav-link">TIPLOGO LED BULBS</a></li>
                        <li><a href = "tiplogo-logistics" class = "nav-link">TIPLOGO LOGISTICS</a></li>
                        <li><a href = "tiplogo-ict" class = "nav-link">TIPLOGO ICT</a></li>
                        <li><a href = "tiplogo-fish" class = "nav-link">TIPLOGO SEA FOOD</a></li>
                    </ul>
                    
                    <a class = "subscribe-btn" href = "#newsletter">Subscribe</a>
                    
                </div>
            </nav>
            
            <div class = "mobile-menu">
    
                <div class = "task-bar">
                    <a href = "/"><span class = "logo">TIPLOGO</span></a>
                    <div class = "close-menu">
                        <span></span>
                        <span></span>
                    </div>
                </div>
    
                <div class = "mobile-navigation">
                    <ul class = "mobile-links-parent">
                        <li><a href = "/" class = "nav-link">HOME</a></li>
                        <li><a href = "tiplogo-cbt" class = "nav-link">TIPLOGO CBT CENTER</a></li>
                        <li><a href = "tiplogo-led" class = "nav-link">TIPLOGO LED BULBS</a></li>
                        <li><a href = "tiplogo-logistics" class = "nav-link">TIPLOGO LOGISTICS</a></li>
                        <li><a href = "tiplogo-ict" class = "nav-link">TIPLOGO ICT</a></li>
                        <li><a href = "tiplogo-fish" class = "nav-link">TIPLOGO SEA FOOD</a></li>
                    </ul>
        
                    <a class = "mobile-subscribe-btn" href = "#newletter">Subscribe</a>
                </div>
    
                
            </div>
    
  
                <div class = 'banner-container'>
                    <div class = "banner">
                        <div class = "banner-content">
                            <img src = "/static/img/cctv_camera_4.png" alt = "carousel-img" />
                            <h4>Our Clients Are Our Priority</h4>
                            <h2>TIPLOGO ICT SALES & SERVICES</h2>
                            <div class = "underline">
                                <span></span>
                                <span class = 'circle'>
                                    <span></span>
                                </span>
                                <span></span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Delectus quasi dolorem animi, quas consequuntur mollitia 
                                natus aliquid inventore modi ad officia sunt 
                                iusto deserunt ducimus, rem magni autem eligendi blanditiis.
                            </p>
                            <!-- <div class = "header-cta-container">
                                <a href = "#" class = "cta-1">GET STARTED NOW</a>
                                <a href = "#" class = "cta-2">EXPLORE</a>
                            </div> -->
                        </div>
                    </div>
                </div>

        </header>

        <main>
            <section class = "info-section">
                <div class = "ict-cta-details-wrapper">
                    <h3 class = "cta-head">
                        <span>TIPLOGO ICT </span>
                        <span>EQUIPMENT SALES & DELIVERY</span>
                    </h3>

                    <p class = "cta-details">
                        At Tiplogo ICT Equipments, we sell and deliver ictEquipment such as cray fish, and dry fish, 
                        whether you stay at a far distance or near, just take a little time to contact us and we will
                        deliver to you in your specified location, you comfort is important to us.
                    </p>

                    <div class = "cta-link-container">
                        <a class = "contact-link" href = "">Contact Us</a>
                        <a class = "explore-link" href = "">Explore</a>
                    </div>

                </div>  

                <div class = "cta-banner-container">
                    <img class = "cta-banner-img" src = "/static/img/cctv_camera_3.jpg" alt = "cctv camera image"/>
                </div>    
            </section>

            <section class = "product-section">
                <div class = "head-container">
                    <p class = "subhead"><span>OUR PRODUCTS</span></p>
                    <h3 class = "head">Products We Offer</h3>
                </div>

                <div class = "ict products-content-container">
                    <div class = "ict products-boxes-container">
                        <div id = "bulb" class = "ict product-box">
                            <div class = "product-img-container">
                                <img src = "/static/img/cctv_camera_2.png" alt = "Led bulb product image">
                            </div>
                            <div class = "ict product-text-content">
                                <p class = "ict product-name">cctv camera</p>
                                <p class = "ict product-details">Ict Equipment Sales And Delivery</p>
                            </div>
                        </div>

                        <div id = "bulb" class = "ict product-box">
                            <div class = "product-img-container">
                                <img src = "/static/img/cctv_camera_3.jpg" alt = "Led bulb product image">
                            </div>
                            <div class = "ict product-text-content">
                                <p class = "ict product-name">cctv camera</p>
                                <p class = "ict product-details">Ict Equipment Sales And Delivery</p>
                            </div>
                        </div>
                        
                        <div id = "ictEquipment" class = "ict product-box">
                            <div class = "product-img-container">
                                <img  src = "/static/img/cctv_camera_4.png" alt = "Led bulb product image">
                            </div>
                            <div class = "ict product-text-content">
                                <p class = "ict product-name">cctv camera</p>
                                <p class = "ict product-details">Ict Equipment Sales And Delivery</p>
                            </div>
                        </div>

                        <div id = "bulb" class = "ict product-box">
                            <div class = "product-img-container">
                            <img class = "reduce_img_1" src = "/static/img/cctv_camera_5.png" alt = "Led bulb product image">
                            </div>
                            <div class = "ict product-text-content">
                                <p class = "ict product-name">cctv camera</p>
                                <p class = "ict product-details">Ict Equipment Sales And Delivery</p>
                            </div>
                        </div>

                        <div id = "ictEquipment" class = "ict product-box">
                            <div class = "product-img-container">
                                <img src = "/static/img/cctv_camera_6.png" alt = "Led bulb product image">
                            </div>
                            <div class = "ict product-text-content">
                                <p class = "ict product-name">cctv camera</p>
                                <p class = "ict product-details">Ict Equipment Sales And Delivery</p>
                            </div>
                        </div>

                        <div id = "ictEquipment" class = "ict product-box">
                            <div class = "product-img-container">
                                <img class="reduce_img_2" src = "/static/img/cctv_camera_7.png" alt = "ict Equipment product image">
                            </div>
                            <div class = "ict product-text-content">
                                <p class = "ict product-name">cctv camera</p>
                                <p class = "ict product-details">Ict Equipment Sales And Delivery</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id = "newsletter" class = "ict newsletter-section">
                <div class = "head-container">
                    <p class = "subhead"><span>NEWSLETTER</span></p>
                    <h3 class = "head">Stay Always In Touch</h3>
                </div>

                <p class = "newsletter-section-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Iure doloribus earum ipsum velit amet sequi delectus, 
                    similique nobis 
                </p>

                <form class = "newsletter-input-container">
                    <input type = "text" placeholder="Enter Your Email" required name = "email"/>
                    <button type = "submit"><img alt = "send message icon" src = "/static/img/message.svg"></button>
                </form>
            </section>
        </main>
        
        <footer>
            <div class = "footer-wrapper">
                <div class = "address-box">
                    <h3 class = "box-head">
                        ADDRESS
                        <span class = "box-head-underline"></span>
                    </h3>
    
                    <ul class = "address-list">
                        <li class = "address-details">
                            <img class = "address-img" alt = "" src = "/static/img/location.svg">
                            <p class = "address-text">12 Ali Balogun Street, Okitipupa</p>
                        </li>

                        <li class = "phone-details">
                            <img class = "address-img" alt = "" src = "/static/img/phone.svg">
                            <p class = "address-text">+234 806 959 8685</p>
                        </li>

                        
                        <li class = "mail-details">
                            <img class = "address-img" alt = "" src = "/static/img/mail.svg">
                            <p class = "address-text">tiplogo1@gmail.com</p>
                        </li>


                    </ul>
    
                    <div class = "social-media-box">
                        <span class= "social-media-span"><a href = ""><img src = "/static/img/facebook.svg" alt = ""></a></span>
                        <span class= "social-media-span"><a href = ""><img src = "/static/img/instagram.svg" alt = ""></a></span>
                        <span class= "social-media-span"><a href = ""><img src = "/static/img/linkedin.svg" alt = ""></a></span> 
                        <span class= "social-media-span"><a href = "https://wa.me/+234 806 959 8685"><img src = "/static/img/whatsapp.svg" alt = ""></a></span>
                        
                    </div>
                </div>
    
                <div class = "quick-link-box">
                    <h3 class = "box-head">
                        QUICK-LINK
                        <span class = "box-head-underline"></span>
                    </h3>
    
                    <div class = "quick-links-container">
                        <a href = "">About Us</a>
                        <a href = "">Contact Us</a>
                        <a href = "">Privacy Policy</a>
                        <a href = "">Terms & Conditions</a>
                    </div>
                </div>
    
                <div class = "newsletter-box">
                    <h3 class = "box-head">
                        NEWSLETTER
                        <span class = "box-head-underline"></span>
                    </h3>
    
                    <p class = "newsletter-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat porro at, earum deleniti provident vitae</p>
                    
                    
                    <form class = "newsletter-input-container">
                        <input type = "text" placeholder="Enter Your Email" required name = "email"/>
                        <button type = "submit"><img alt = "send message icon" src = "/static/img/message.svg"></button>
                    </form>
                </div>
            </div>
            <div class = "copyright-container">
                <div class = "site-details">
                    <p class = "site-name">Tiplogo.com, All Right Reserved. Designed by <a class = "creator-link" href = "">LB Codex</a> </p>
                    <p class = "site-distribution"></p>
                </div>

                <div class = "copyright-links-container">
                    <a href = "">Home</a>
                    <a href = "">Subscribe</a>
                    <a href = "">Products</a>
                    <a href = "">Services</a>
                </div>
            </div>
        </footer>
    </section>
</body>
</html>