{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{% static 'css/logistics.css'%}">
    <title>TIPLOGO LOGISTICS</title>
    <script defer src = "{% static 'js/pages.js'%}"></script>
    <style>
        .log_overlay{
            position : fixed;
            inset : 0;
            width : 100%;
            height : 100%;
            background-color : #efefef;
            display : flex;
            align-items : center;
            justify-content : center;
            z-index : 999;
        }

        .loader-container{
            padding : 35px 30px 0px;
            background : linear-gradient(45deg,blue, red);
            border-radius : 30px;
        }

        .loader{
            max-width : 400px;
            width : 100%;
            margin : auto;
        }

        .loader-text{
            stroke : black;
            stroke-width : 3;
            font-size : 4.5rem;
            fill : transparent;
            animation : anim 4s ease infinite alternate;
        }

        @keyframes anim{
            0%{
                fill : transparent;
                stroke : rgba(255,255,255,.8);
                stroke-width : 3;
                stroke-dashoffset: 25%;
                stroke-dasharray: 0 32%;
            }

            50%{
                fill : transparent;
                stroke : rgba(255,255,255,.8);;
                stroke-width : 3;
            }

            100%{
                fill : rgba(255,255,255,.8);;
                stroke : rgba(255,255,255,.8);;
                stroke-width : 0;
                stroke-dashoffset: -25%;
                stroke-dasharray : 32% 0;
            }
        }

        .log_overlay.hide{
            animation : hideOverlay 1s ease forwards;
        }

        @keyframes hideOverlay{
            0%{
                top : 0;
            }

            100%{
                top : -100%;
                visibility : hidden;
            }
        }
        
    </style>
</head>
<body>
    <!-- <div class = "log_overlay">
        <div class = "loader-container">
            <svg viewbox = "0 0 400 100" class = "loader">
                <text x = "50%" y = "50%" dy = ".3rem" text-anchor = "middle" class = "loader-text">TIPLOGO</text>
            </svg>
        </div>
    </div> -->
    <section class = "page">
        <header>
            <nav>
                <div class = "container">
                    <!-- <img src = "/static/img/logo2.jpg" class = "logo"/> -->
                    <a href = "/"><span class = "logo">TIPLOGO</span></a>
    
                    
                    <div class = "hamburger">
                        <span></span>
                        <span></span>
                        <span></spagn>
                    </div>
                    
                             
                    <ul class = "nav-links-parent">
                        <li><a href = "/" class = "nav-link">HOME</a></li>
                        <li><a href = "tiplogo-cbt" class = "nav-link">TIPLOGO CBT CENTER</a></li>
                        <li><a href = "tiplogo-led" class = "nav-link">TIPLOGO LED BULBS</a></li>
                        <li><a href = "tiplogo-logistics" class = "nav-link">TIPLOGO LOGISTICS</a></li>
                        <li><a href = "tiplogo-ict" class = "nav-link">TIPLOGO ICT</a></li>
                        <li><a href = "tiplogo-fish" class = "nav-link">TIPLOGO SEA FOODS</a></li>
                    </ul>
                    
                    <a class = "subscribe-btn" href = "#newsletter">Subscribe</a>
                    
                </div>
            </nav>
            
            <div class = "mobile-menu">
    
                <div class = "task-bar">
                    <a href = "/"><span class = "logo">TIPLOGO</span></a>
                    <div class = "close-menu">
                        <span></span>
                        <span></span>
                    </div>
                </div>
    
                <div class = "mobile-navigation">
                    <ul class = "mobile-links-parent">
                        <li><a href = "/" class = "nav-link">HOME</a></li>
                        <li><a href = "tiplogo-cbt" class = "nav-link">TIPLOGO CBT CENTER</a></li>
                        <li><a href = "tiplogo-led" class = "nav-link">TIPLOGO LED BULBS</a></li>
                        <li><a href = "tiplogo-logistics" class = "nav-link">TIPLOGO LOGISTICS</a></li>
                        <li><a href = "tiplogo-ict" class = "nav-link">TIPLOGO ICT</a></li>
                        <li><a href = "tiplogo-fish" class = "nav-link">TIPLOGO SEA FOODS</a></li>
                    </ul>
        
                    <a class = "mobile-subscribe-btn" href = "#newletter">Subscribe</a>
                </div>
    
                
            </div>
    
  
            <div class = 'banner-container'>
                <div class = "banner">
                    <div class = "banner-content">
                        <img src = "/static/img/truck1.jpg" alt = "carousel-img" />
                        <h4>Our Clients Are Our Priority</h4>
                        <h2>TIPLOGO LOGISTICS</h2>
                        <div class = "underline">
                            <span></span>
                            <span class = 'circle'>
                                <span></span>
                            </span>
                            <span></span>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Delectus quasi dolorem animi, quas consequuntur mollitia 
                            natus aliquid inventore modi ad officia sunt 
                            iusto deserunt ducimus, rem magni autem eligendi blanditiis.
                        </p>
                        <!-- <div class = "header-cta-container">
                            <a href = "#" class = "cta-1">GET STARTED NOW</a>
                            <a href = "#" class = "cta-2">EXPLORE</a>
                        </div> -->
                    </div>
                </div>
            </div>

        </header>

        <main>
            <section class = "banner-section">

                <div class = "banner-img-wrapper">
                    <div class = "banner-img-container">
                        <img src="/static/img/logistics_1.jpg" alt="image banner of the logistics page">
                    </div>
                </div>

                <div class = "banner-text-content">
                    <p class = "sub-text">Let Us Handle The Transportation</p>
                    <h2 class = "main-text">
                        TIPLOGO LOGISTICS
                    </h2>
                    <p class = "details-text">
                        At Tiplogo Logistics it is our goal to handle the logistics needs of our customers, 
                        by providing an effective and efficient service
                        that we hope to align with their needs and meet up with their requirements. We can't wait to work with you also. 
                    </p>
                </div>


            </section>

            <section class = "logistics-services-section">
                <h2 class = 'logistics-service-head'>
                    <span>Logistics Services</span>
                </h2>
                <div class = "logistics-service-block-wrapper">
                    <div class = "logistics-service-box">
                        <?xml version="1.0" encodin g="iso-8859-1"?>
                        <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                            viewBox="0 0 45.75 45.75" xml:space="preserve">
                            <g>
                                <path d="M45.15,26.676l-4.178-3.135l-3.348-7.848V13.5c0-0.828-0.671-1.5-1.5-1.5h-7.823l-1.96-3.921
                                    C26.088,7.57,25.568,7.25,25,7.25H1.5C0.671,7.25,0,7.922,0,8.75v25c0,0.828,0.671,1.5,1.5,1.5h3.471
                                    c0.632,1.881,2.392,3.25,4.484,3.25c2.091,0,3.851-1.369,4.483-3.25h19.625c0.633,1.881,2.394,3.25,4.484,3.25
                                    c2.092,0,3.852-1.369,4.482-3.25h1.721c0.829,0,1.5-0.672,1.5-1.5v-5.875C45.751,27.402,45.527,26.959,45.15,26.676z M9.456,35.5
                                    c-0.966,0-1.75-0.783-1.75-1.75S8.489,32,9.456,32c0.967,0,1.75,0.783,1.75,1.75S10.422,35.5,9.456,35.5z M29.501,23.834
                                    c-0.274,0-0.5-0.225-0.5-0.5v-6.5c0-0.276,0.226-0.5,0.5-0.5h5.166h0.131c0.199,0,0.379,0.118,0.458,0.3l2.828,6.5
                                    c0.066,0.155,0.052,0.333-0.041,0.476c-0.057,0.084-0.139,0.14-0.229,0.179c-0.061,0.024-0.121,0.047-0.188,0.047L29.501,23.834
                                    L29.501,23.834z M38.039,35.5c-0.967,0-1.75-0.783-1.75-1.75S37.07,32,38.039,32c0.967,0,1.75,0.783,1.75,1.75
                                    S39.005,35.5,38.039,35.5z"/>
                            </g>
                        </svg>
                        <h3>Transportation Service</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, qui. 
                            Totam similique asperiores eveniet ipsam, 
                            rem fugiat architecto hic aspernatur pariatur consequatur repellendus impedit nisi fuga magnam facere quas. Odio.
                        </p>
                    </div> 
                    <div class = "logistics-service-box">
                        <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                        <svg  viewBox="0 0 36 36" version="1.1"  preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>data-cluster-line</title>
                            <path d="M26.5,4.08C22.77,4.08,19,5.4,19,
                                     7.91V9.5a18.75,18.75,0,0,1,2,.2V7.91c0-.65,2.09-1.84,
                                     5.5-1.84S32,7.27,32,7.91V18.24c0,.54-1.46,1.44-3.9,1.73v2c3.13-.32,
                                     5.9-1.6,5.9-3.75V7.91C34,5.4,30.23,4.08,26.5,4.08Z" 
                                     class="clr-i-outline clr-i-outline-path-1">
                            </path>
                            <path d="M4,18.24V7.91c0-.65,2.09-1.84,5.5-1.84S15,7.27,15,7.91V9.7a18.75,18.75,0,0,
                                     1,2-.2V7.91c0-2.52-3.77-3.84-7.5-3.84S2,5.4,2,7.91V18.24C2,20.4,4.77,21.67,
                                     7.9,22V20C5.46,19.68,4,18.78,4,18.24Z" 
                                     class="clr-i-outline clr-i-outline-path-2">
                            </path>
                            <path d="M18,10.85c-4.93,0-8.65,1.88-8.65,4.38V27.54c0,2.5,3.72,
                                     4.38,8.65,4.38s8.65-1.88,8.65-4.38V15.23C26.65,12.73,
                                     22.93,10.85,18,10.85Zm6.65,7.67c-.85,1-3.42,2-6.65,2A14.49,14.49,
                                     0,0,1,14,20v1.46a16.33,16.33,0,0,0,4,.47,12.76,12.76,0,0,0,6.65-1.56v3.12c-.85,
                                     1-3.42,2-6.65,2a14.49,14.49,0,0,1-4-.53v1.46a16.33,16.33,0,0,0,4,.47,12.76,12.76,0,
                                     0,0,6.65-1.56v2.29c0,.95-2.65,2.38-6.65,2.38s-6.65-1.43-6.65-2.38V15.23c0-.95,2.65-2.
                                     38,6.65-2.38s6.65,1.43,6.65,2.38Z" class="clr-i-outline clr-i-outline-path-3">
                            </path>
                            <rect x="0" y="0" width="36" height="36" fill-opacity="0"/>
                        </svg>
                        <h3>Warehousing Service</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Pariatur atque laborum qui consequuntur omnis impedit aliquid, vel totam deleniti nobis. 
                            Odio quibusdam quis a et libero vitae adipisci nemo nam?
                        </p>
                    </div>
                    <div class = "logistics-service-box">
                        <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                        <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.3,2.68 L7.3,7 L8.7,7 L8.7,2.68 L9.63,3.61 L10.63,
                            2.61 L8,0 L5.38,2.62 L6.38,3.62 L7.3,2.68 Z M8.7,13.31 L8.7,9 L7.3,9 L7.3,
                            13.3 L6.37,12.38 L5.37,13.38 L8,16 L10.62,13.39 L9.62,12.39 L8.7,13.31 Z M13.38,
                            5.38 L12.38,6.38 L13.31,7.31 L9,7.31 L9,8.7 L13.3,8.7 L12.38,9.62 L13.38,10.62 L16,8 
                            L13.38,5.38 Z M7,8.7 L7,7.3 L2.68,7.3 L3.61,6.37 L2.61,5.37 L0,8 L2.61,10.61 L3.61,9.61
                             L2.69,8.7 L7,8.7 Z"/>
                        </svg>
                        <h3>Distribution Service</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia deleniti possimus minima nihil 
                            earum vel pariatur inventore voluptate, 
                            nisi dignissimos cumque velit iste amet dolore quos omnis ipsa,
                        </p>
                    </div>
                </div>
            </section>

            <section class = "logistics-advantages-section">
                <div class = "advantages-text-section">
                    <h2>Trust Us With Your Goods</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Corrupti a nemo consectetur consequatur ducimus adipisci molestiae. 
                        Fuga, fugiat maiores illum nihil enim quisquam, aliquid corrupti ullam 
                        dignissimos maxime iure esse.
                    </p>
                </div>
                <div class = "advantages-banner-section">
                    <img src = '/static/img/truck2.jpg' alt = "Truck image used as a banner">
                </div>
            </section>

            <section id = "newsletter" class = "logistics newsletter-section">
                <div class = "head-container">
                    <p class = "subhead"><span>NEWSLETTER</span></p>
                    <h3 class = "head">Stay Always In Touch</h3>
                </div>

                <p class = "newsletter-section-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Iure doloribus earum ipsum velit amet sequi delectus, 
                    similique nobis 
                </p>

            
                {% for messages in messages %}
                    {{messages}}
                {% endfor %}

                <form  method ='post' class = "newsletter-input-container">
                    {% csrf_token %}
                    <input type = "text" placeholder="Enter Your Email" required name = "email"/>
                    <button type = "submit"><img alt = "send message icon" src = "/static/img/message.svg"></button>
                </form>
            </section>  
        </main>
        
        <footer>
            <div class = "footer-wrapper">
                <div class = "address-box">
                    <h3 class = "box-head">
                        ADDRESS
                        <span class = "box-head-underline"></span>
                    </h3>
    
                    <ul class = "address-list">
                        <li class = "address-details">
                            <img class = "address-img" alt = "" src = "/static/img/location.svg">
                            <p class = "address-text">12 Ali Balogun Street, Okitipupa</p>
                        </li>

                        <li class = "phone-details">
                            <img class = "address-img" alt = "" src = "/static/img/phone.svg">
                            <p class = "address-text">+234 806 959 8685</p>
                        </li>

                        
                        <li class = "mail-details">
                            <img class = "address-img" alt = "" src = "/static/img/mail.svg">
                            <p class = "address-text">tiplogo1@gmail.com</p>
                        </li>


                    </ul>
    
                    <div class = "social-media-box">
                        <span class= "social-media-span"><a href = ""><img src = "/static/img/facebook.svg" alt = ""></a></span>
                        <span class= "social-media-span"><a href = ""><img src = "/static/img/instagram.svg" alt = ""></a></span>
                        <span class= "social-media-span"><a href = ""><img src = "/static/img/linkedin.svg" alt = ""></a></span> 
                        <span class= "social-media-span"><a href = "https://wa.me/+234 806 959 8685"><img src = "/static/img/whatsapp.svg" alt = ""></a></span>
                        
                    </div>
                </div>
    
                <div class = "quick-link-box">
                    <h3 class = "box-head">
                        QUICK-LINK
                        <span class = "box-head-underline"></span>
                    </h3>
    
                    <div class = "quick-links-container">
                        <a href = "">About Us</a>
                        <a href = "">Contact Us</a>
                        <a href = "">Privacy Policy</a>
                        <a href = "">Terms & Conditions</a>
                    </div>
                </div>
    
                <div class = "newsletter-box">
                    <h3 class = "box-head">
                        NEWSLETTER
                        <span class = "box-head-underline"></span>
                    </h3>
    
                    <p class = "newsletter-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat porro at, earum deleniti provident vitae</p>
                    
                    
                    <form class = "newsletter-input-container">
                        <input type = "text" placeholder="Enter Your Email" required name = "email"/>
                        <button type = "submit"><img alt = "send message icon" src = "/static/img/message.svg"></button>
                    </form>
                </div>
            </div>
            <div class = "copyright-container">
                <div class = "site-details">
                    <p class = "site-name">Tiplogo.com, All Right Reserved. Designed by <a class = "creator-link" href = "">LB Codex</a> </p>
                    <p class = "site-distribution"></p>
                </div>

                <div class = "copyright-links-container">
                    <a href = "">Home</a>
                    <a href = "">Subscribe</a>
                    <a href = "">Products</a>
                    <a href = "">Services</a>
                </div>
            </div>
        </footer>
    </section>

    <!-- <script>
        let page = document.querySelector(".page")
        let logOverlay = document.querySelector(".log_overlay")
        window.addEventListener("load", () => {
            // page.classList.add('visible')
            setTimeout(() => {
                logOverlay.classList.add("hide")
            }, 4000)
            console.log("hide")
        })
    </script> -->
</body>
</html>