{% extends 'base.html' %}
{% block content %}
   
    
  
                <div class = 'banner-container'>
                    <div class = "banner">
                        <div class = "banner-content">
                            <img src = "/static/img/led_bulb2.jpg" alt = "carousel-img" />
                            <h4>Our Clients Are Our Priority</h4>
                            <h2>TIPLOGO LED SALES</h2>
                            <div class = "underline">
                                <span></span>
                                <span class = 'circle'>
                                    <span></span>
                                </span>
                                <span></span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Delectus quasi dolorem animi, quas consequuntur mollitia 
                                natus aliquid inventore modi ad officia sunt 
                                iusto deserunt ducimus, rem magni autem eligendi blanditiis.
                            </p>
                            <!-- <div class = "header-cta-container">
                                <a href = "#" class = "cta-1">GET STARTED NOW</a>
                                <a href = "#" class = "cta-2">EXPLORE</a>
                            </div> -->
                        </div>
                    </div>
                </div>

        </header>

        <main>
            <section class = "led info-section">
                <div class = "led-cta-details-wrapper">
                    <h3 class = "cta-head">

                        <span>TIPLOGO LED </span>
                        <span>BULB SALES & DELIVERY</span>
                    </h3>

                    <p class = "cta-details">
                        At Tiplogo Led Bulb, we sell and deliver Led bulbs of various watts whether you reside at a far distance or near, just take a little 
                        time to contact us and we will deliver it to you in your 
                        specified location, you comfort is important to us.
                    </p>

                    <div class = "cta-link-container">
                        <a class = "contact-link" href = "">Contact Us</a>
                        <a class = "explore-link" href = "">Explore</a>
                    </div>

                
                </div>  

                <div class = "cta-banner-container">
                    <img class = "cta-banner-img" src = "/static/img/led_bulb_bulk.jpg" alt = "crayfish image"/>
                </div>    
            </section>

            <section class = "product-section">
                <div class = "head-container">
                    <p class = "subhead"><span>OUR PRODUCTS</span></p>
                    <h3 class = "head">Products We Offer</h3>
                </div>

                <div class = "bulb products-content-container">
                    <div class = "bulb products-boxes-container">
                        <div id = "bulb" class = "bulb product-box">
                            <div class = "product-img-container">
                                <img src = "/static/img/led_bulb1.jpg" alt = "Led bulb product image">
                            </div>
                            <div class = "bulb product-text-content">
                                <p class = "bulb product-name">Led Bulb</p>
                                <p class = "bulb product-details">Led Bulb Sales And Delivery</p>
                            </div>
                        </div>

                        <div id = "bulb" class = "bulb product-box">
                            <div class = "product-img-container">
                                <img src = "/static/img/led_bulb2.jpg" alt = "Led bulb product image">
                            </div>
                            <div class = "bulb product-text-content">
                                <p class = "bulb product-name">Led Bulb</p>
                                <p class = "bulb product-details">Led Bulb Sales And Delivery</p>
                            </div>
                        </div>
                        
                        <div id = "bulb" class = "bulb product-box">
                            <div class = "product-img-container">
                                <img src = "/static/img/led_bulb3.jpg" alt = "Led bulb product image">
                            </div>
                            <div class = "bulb product-text-content">
                                <p class = "bulb product-name">Led Bulb</p>
                                <p class = "bulb product-details">Led Bulb Sales And Delivery</p>
                            </div>
                        </div>

                        <div id = "bulb" class = "bulb product-box">
                            <div class = "product-img-container">
                                <img src = "/static/img/led_bulb4.jpg" alt = "Led bulb product image">
                            </div>
                            <div class = "bulb product-text-content">
                                <p class = "bulb product-name">Led Bulb</p>
                                <p class = "bulb product-details">Led Bulb Sales And Delivery</p>
                            </div>
                        </div>

                        <div id = "bulb" class = "bulb product-box">
                            <div class = "product-img-container">
                                <img src = "/static/img/led_bulb5.jpg" alt = "Led bulb product image">
                            </div>
                            <div class = "bulb product-text-content">
                                <p class = "bulb product-name">Led Bulb</p>
                                <p class = "bulb product-details">Led Bulb Sales And Delivery</p>
                            </div>
                        </div>

                        <div id = "bulb" class = "bulb product-box">
                            <div class = "product-img-container">
                                <img src = "/static/img/led_bulb_bulk.jpg" alt = "Led bulb product image">
                            </div>
                            <div class = "bulb product-text-content">
                                <p class = "bulb product-name">Led Bulb</p>
                                <p class = "bulb product-details">Led Bulb Sales And Delivery</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id = "newsletter" class = "bulb newsletter-section">
                <div class = "head-container">
                    <p class = "subhead"><span>NEWSLETTER</span></p>
                    <h3 class = "head">Stay Always In Touch</h3>
                </div>

                <p class = "newsletter-section-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Iure doloribus earum ipsum velit amet sequi delectus, 
                    similique nobis 
                </p>

                <form class = "newsletter-input-container">
                    <input type = "text" placeholder="Enter Your Email" required name = "email"/>
                    <button type = "submit"><img alt = "send message icon" src = "/static/img/message.svg"></button>
                </form>
            </section>
        </main>
        
   {% endblock %}