{% extends 'base.html' %}
{% block content %}
    
  
                <div class = 'banner-container'>
                    <div class = "banner">
                        <div class = "banner-content">
                                <img src = "/static/img/seafood_1.jpg" alt = "carousel-img" />
                            <h4>Our Clients Are Our  Priority</h4>
                            <h2>TIPLOGO SEA FOOD DELIVERY</h2>
                            <div class = "underline">
                                <span></span>
                                <span class = 'circle'>
                                    <span></span>
                                </span>
                                <span></span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Delectus quasi dolorem animi, quas consequuntur mollitia 
                                natus aliquid inventore modi ad officia sunt 
                                iusto deserunt ducimus, rem magni autem eligendi blanditiis.
                            </p>
                            <!-- <div class = "header-cta-container">
                                <a href = "#" class = "cta-1">GET STARTED NOW</a>
                                <a href = "#" class = "cta-2">EXPLORE</a>
                            </div> -->
                        </div>
                    </div>
                </div>

        </header>

        <main>
            <section class = "info-section">
                <div class = "sea-cta-details-wrapper">
                    <h3 class = "cta-head">
                        <span>TIPLOGO SEA </span>
                        <span>FOOD SALES & DELIVERY</span>
                    </h3>

                    <p class = "cta-details">
                        At Tiplogo seafoods, we sell and deliver seafood such as cray fish, and dry fish, 
                        whether you stay at a far distance or near, just take a little time to contact us and we will
                        deliver to you in your specified location, you comfort is important to us.
                    </p>

                    <div class = "cta-link-container">
                        <a class = "contact-link" href = "contact">Contact Us</a>
                        <a class = "explore-link" href = "#newletter">Subscribe</a>
                    </div>

                </div>  

                <div class = "cta-banner-container">
                    <img class = "cta-banner-img" src = "/static/img/seafood_2.jpg" alt = "crayfish image"/>
                </div>    
            </section>

            <section class = "product-section">
                <div class = "head-container">
                    <p class = "subhead"><span>OUR PRODUCTS</span></p>
                    <h3 class = "head">Products We Offer</h3>
                </div>

                <div class = "sea products-content-container">
                    <div class = "sea products-boxes-container">
                        <div id = "bulb" class = "sea product-box">
                            <div class = "product-img-container"> 
                                <img src = "/static/img/seafood_1.jpg" alt = "Led bulb product image">
                            </div>
                            <div class = "sea product-text-content">
                                <p class = "sea product-name">Crayfish</p>
                                <p class = "sea product-details">Sea Food Sales And Delivery</p>
                            </div>
                        </div>

                        <div id = "bulb" class = "sea product-box">
                            <div class = "product-img-container"> 
                                <img src = "/static/img/seafood_2.jpg" alt = "Led bulb product image">
                            </div>
                            <div class = "sea product-text-content">
                                <p class = "sea product-name">Crayfish</p>
                                <p class = "sea product-details">Sea Food Sales And Delivery</p>
                            </div>
                        </div>
                        
                        <div id = "seafood" class = "sea product-box">
                            <div class = "product-img-container"> 
                                <img src = "/static/img/seafood_3.jpg" alt = "Led bulb product image">
                            </div>
                            <div class = "sea product-text-content">
                                <p class = "sea product-name">Crayfish</p>
                                <p class = "sea product-details">Sea Food Sales And Delivery</p>
                            </div>
                        </div>

                        <div id = "bulb" class = "sea product-box">
                            <div class = "product-img-container"> 
                                <img src = "/static/img/seafood_4.jpg" alt = "Led bulb product image">
                            </div>
                            <div class = "sea product-text-content">
                                <p class = "sea product-name">Crayfish</p>
                                <p class = "sea product-details">Sea Food Sales And Delivery</p>
                            </div>
                        </div>

                        <div id = "seafood" class = "sea product-box">
                            <div class = "product-img-container"> 
                                <img src = "/static/img/seafood_5.jpg" alt = "Led bulb product image">
                            </div>
                            <div class = "sea product-text-content">
                                <p class = "sea product-name">Crayfish</p>
                                <p class = "sea product-details">Sea Food Sales And Delivery</p>
                            </div>
                        </div>

                        <div id = "seafood" class = "sea product-box">
                            <div class = "product-img-container"> 
                                <img src = "/static/img/seafood_6.jpg" alt = "Sea Food product image">
                            </div>
                            <div class = "sea product-text-content">
                                <p class = "sea product-name">Crayfish</p>
                                <p class = "sea product-details">Sea Food Sales And Delivery</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id = "newsletter" class = "sea newsletter-section">
                <div class = "head-container">
                    <p class = "subhead"><span>NEWSLETTER</span></p>
                    <h3 class = "head">Stay Always In Touch</h3>
                </div>

                <p class = "newsletter-section-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Iure doloribus earum ipsum velit amet sequi delectus, 
                    similique nobis 
                </p>

                <form class = "newsletter-input-container">
                    <input type = "text" placeholder="Enter Your Email" required name = "email"/>
                    <button type = "submit"><img alt = "send message icon" src = "/static/img/message.svg"></button>
                </form>
            </section>
        </main>
        
    {% endblock %}