@import url("pages.css");

.banner-section{
    display : flex;
    align-items : center;
    justify-content : space-between;
    background : hsl(0deg, 0%, 100%);
    height : calc(100vh - 100px);
}

.banner-img-wrapper{
    width : 35%;
    height : 100%;

}

.banner-img-container{
    height: 100%;
}

.banner-img-container img{
    width : 100%;
    height : 100%;
    object-fit : cover;
}
/* 
.banner-img-container img:nth-child(2){
    transform : translate(-10px, 30px);
} */

.banner-text-content{
    width : 60%;
    padding : 0 20px 0 0;
}

.sub-text{
    color : var(--b-theme-clr);
    font-size : .8rem;
    margin-bottom : 10px;
    padding-left : 5px;
    font-weight: bold;
}

.main-text{
    font-size : clamp(3rem, 5.5vw, 5rem);
    margin: 0px 0 0;
}

.details-text{
    color : rgba(0,0,0,.7);
    font-size : 1rem;
    line-height: 1.8;
    margin: 10px 0 0;
    max-width : 600px;
}

